.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 1rem;
  background: var(--foreground2);
}

.header ul{
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.header ul a:hover{
  text-decoration: underline;
}

.heroContainer{
  padding: 50px 0;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 12px 1rem;
  width: 100%;
  /* max-width: 720px; */
  margin: 0 auto;
  /* flex-wrap: wrap; */
}

.hero a {
  display: flex;
}

.hero > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  max-width: 400px;
}

.hero > img{
  border-radius: 8px;
}

.hero > div h1{
  font-size: 38px;
}

.hero > div p{
  font-size: 20px;
  font-weight: 300;
  color: var(--foreground);
  transform: translateY(-10px);
  line-height: 150%;
}

.heroButtons{
  display: flex;
  gap: 1rem;
}

.heroButton > button{
  background: none;
  color: #00bf6f!important;
  border: #00bf6f 2px solid;
}

.steps{
  background: var(--foreground2);
  padding: 50px 1rem;
}

.steps h2, .about h2, .contact h2{
  text-align: center;
  font-size: 38px;
}

.steps > div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 50px;
}

.steps > div > section{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}

.about{
  padding: 50px 0;
}

.about p{
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  font-size: 18px;
  font-weight: 300;
  line-height: 180%;
}

.contact{
  background: var(--foreground2);
  padding: 50px 0;
}

.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  gap: 1.2rem;
}

.contact label{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.contact label input, .contact label textarea{
  background: none;
  padding: 12px 0 12px 16px;
  border: 1px solid;
  color: var(--foreground);
  border-radius: 4px;
}

.contact label textarea{
  height: 200px;
}

@media (max-width: 720px){
  .hero{
    flex-wrap: wrap;
  }

  .hero > img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    /* height: auto; */
  }
}

@media (max-width: 600px) {
  .hero{
    flex-wrap: wrap;
  }

  .hero > img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    /* height: auto; */
  }

  .steps > div{
    flex-direction: column;
  }
}